.movieDetails {  
    flex-direction: column;
    align-items: center;
}

.goBack {
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 100px;
}

.movieSection {
    margin-bottom: 20px;
}

.movieInfo {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
}
