.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
    background: linear-gradient(60deg, orange, blue);

}

.navbar__link {
    font-size: 24px;
    color:cornflowerblue;
    margin-left: 100px;
}