.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
    background: linear-gradient(60deg, rgb(31, 247, 3), rgb(241, 166, 27));

}

.navbar__link {
    font-size: 24px;
    color:cornflowerblue;
    margin-left: 100px;
}